<div class="container mx">
  <div>
    <h3 class="bg-dark" id="shoppingCartText">Your Shopping Cart</h3>
    <img id="hinata" src="https://i.pinimg.com/originals/47/3b/a8/473ba81abb55d437dbc80a9fd4f69c8f.gif" alt="">
  </div>
<table class="table align-middle mb-2 bg-light" id="table" >
  <thead class="bg-light" >
    {{#if products.length}}
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Quantity</th>
       <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr id={{this._id}}>
      <td>
        <div class="d-flex align-items-center">
          <img
              src="{{this.thumbnail}}" 
              alt="{{this.name}}"
              style="width: 45px; height: 45px"
              class="rounded-circle"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1" id="productName">{{this.name}}</p>
          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mb-2 ms-2">{{this.price}}</p>
      </td>
      <td>
        <p class="fw-normal mb-2 ms-2">{{this.stock}}</p>
      </td>
      <td>
        {{!-- <button class="btn btn-dark btn-sm" id="increase" onclick="increaseQuantity('{{this._id}}')" >+</button>
        <p id="paragraphQuantity">{{this.quantity}}</p>
        <button class="btn btn-dark btn-sm">-</button> --}}
        <input type="number" id="tentacles" min="0" max="10">
      </td>
      <td>
        <button class="btn btn-dark fw-normal mb-2 ms-1" onclick="removeFromCart('{{{../cartId}}}','{{this._id}}')">Delete</button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
        <div class="d-grid gap-2 col-2 mx-auto">
            <a href="/order" class="btn btn-outline-dark" type="button" id="buttonPlaceOrder">Place order</a>
        </div>

    {{/if}}
</div>