<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="animate-character"> All Things Japan</h3>
    </div>
</div>
    <div id="contentCard" class="row row-cols-2 row-cols-5">
      {{#each products}}
      <div id="card" class="card"  style="width: 15rem; margin:10px;">
        <img src="{{this.thumbnail}}"  style ="width: auto" class="card-img-top" alt="{{this.name}}"/>
        <div class="card-body">
          <div class="text-center">
              <h5 class="card-title">{{this.name}}</h5>
              <p class="text-muted mb-4">{{this.description}}</p>
          </div> 
          <div class="d-flex justify-content-between" id="">
                <span>Price:${{this.price}}</span>
          </div>
          <div class="d-flex justify-content-between" id="justify">
            <button id="add-to-cart" class="btn btn-dark btn-sm" onclick="addToCart('{{{../cartId}}}','{{this._id}}', '{{this.name}}')">Get it!</button>
          </div>
        </div>
      </div>
      {{/each}}
</div>

     