<div class="container mx">
  <h2 class="bg-dark" id="headings">Orders</h2>
      <table class="table table-sm table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Date</th>
                <th scope="col">Total</th>
                <th scope="col">Order Id:</th>
                <th scope="col">Sent</th>
                <th scope="col">Address</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody class="">
            {{#each orders}}
            <tr>
              <td>{{this.email}}</td>
              <td>{{this.created}}</td>
              <td>{{this.total}}</td>
              <td>{{this.orderId}}</td>
              <td>{{this.sent}}</td>
             <td>{{this.address}}</td>
              <td>        
                <div class="d-grid gap-2 col-1 mx-auto">
                  <button class="btn btn-dark btn-lg" type="button" onclick="sendOrder('{{this._id}}')">Send</button>
                </div>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
  <div class="d-grid gap-2 col-2 mx-auto">
    <button class="btn btn-dark" type="button"  id="buttonPlaceOrder"onclick="deleteAllOrders()">Delete All</button>
  </div>
  <div class="d-grid gap-2 col-2 mx-auto">
    <a href="/admin" class="btn btn-dark" id="buttonPlaceOrder" type="button">Back</a>
  </div>
</div>