<div class="container mx">
  <h2 class="bg-dark" id="headings">Products</h2>
        <div class="d-grid gap-2 col-2 mx-auto">
            <a href="/admin/addProduct" class="btn btn-outline-dark" type="button">Add Product</a>
        </div>
      <table class="table table-sm table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
                <th scope="col">Code</th>
                <th scope="col">Category</th>
                <th scope="col">&nbsp;</th>
                
            </tr>
        </thead>
        <tbody class="">
            {{#each products}}
            <tr>
              <td><img src="{{this.thumbnail}}" alt="{{this.name}}" width="50"></td>
              <td>{{this.name}}</td>
              <td>{{this.description}}</td>
              <td>{{this.price}}</td>
              <td>{{this.stock}}</td>
              <td>{{this.code}}</td>
              <td>{{this.category}}</td>
              <td><a href="/admin/updateProduct/{{this._id}}" class="btn btn-outline-dark" id="buttonPlaceOrder" type="button">Update Product</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
  <div class="d-grid gap-2 col-2 mx-auto">
    <a href="/admin" class="btn btn-dark" type="button">Back</a>
  </div>
</div>