<div class="container mx">
  <h2 class="bg-dark" id="headings">Update Product</h2>
  <form method="post" id="updateForm">
      <label for="name" class="input-group-text">Name: </label>
      <input id="inputs" name="name" type="text" class="form-control" placeholder="Name *" {{#if product}} value="{{product.name}}" {{else}} required {{/if}}/>
      <label for="description" class="input-group-text">Description: </label>
      <input id="inputs" name="description" type="text" class="form-control" placeholder="Description *"{{#if product}} value="{{product.description}}" {{else}} required {{/if}}/>
      <label for="price" class="input-group-text">Price:</label>
      <input id="inputs" name="price" type="number" class="form-control"placeholder="Price *"{{#if product}} value="{{product.price}}" {{else}} required {{/if}}/>
      <label for="stock" class="input-group-text">Stock:</label>
      <input  id="inputs" name="stock" type="number" class="form-control"placeholder="Stock *"{{#if product}} value="{{product.stock}}" {{else}} required {{/if}}/>
      <label for="code" class="input-group-text">Code:</label>
      <input id="inputs" name="code" type="text" class="form-control" placeholder="Code *"{{#if product}} value="{{product.code}}" {{else}} required {{/if}}/>
      <label for="category" class="input-group-text">Category:</label>
      <input id="inputs" name="category" type="text" class="form-control" placeholder="Category *"{{#if product}} value="{{product.category}}" {{else}} required {{/if}}/>
      <label id="labels" for="thumbnail" class="input-group-text">Picture:</label>
      <input id="inputs" name="thumbnail" type="url" class="form-control" placeholder="Thumbnail *"{{#if product}} value="{{product.thumbnail}}" {{else}} required {{/if}} />
    <div class="d-grid gap-2 col-1 mx-auto">
      <button class="btn btn-dark btn-lg" id="buttonSubmit"  type="submit">Submit</button>
    </div>
  </form>
</div>