<div class="container mx">
  <h2>Update Product</h2>
  <form method="post" class="m-4">
    <div class="input-group">
      <label for="name" class="input-group-text">Name</label>
      <input name="name" type="text" class="form-control" placeholder="Name *" {{#if product}} value="{{product.name}}" {{else}} required {{/if}}/>
    </div>
    <div class="input-group">
      <label for="description" class="input-group-text">Description</label>
      <input name="description" type="text" class="form-control" placeholder="Description *"{{#if product}} value="{{product.description}}" {{else}} required {{/if}}/>
    </div>
    <div class="input-group">
      <label for="price" class="input-group-text">Price</label>
      <input name="price" type="number" class="form-control"placeholder="Price *"{{#if product}} value="{{product.price}}" {{else}} required {{/if}}/>
    </div>
    <div class="input-group">
      <label for="stock" class="input-group-text">Stock</label>
      <input name="stock" type="number" class="form-control"placeholder="Stock *"{{#if product}} value="{{product.stock}}" {{else}} required {{/if}}/>
    </div>
    <div class="input-group">
      <label for="code" class="input-group-text">Code</label>
      <input name="code" type="text" class="form-control"placeholder="Code *"{{#if product}} value="{{product.code}}" {{else}} required {{/if}}/>
    </div>
            <div class="input-group">
      <label for="category" class="input-group-text">Category</label>
      <input name="category" type="text" class="form-control"placeholder="Category *"{{#if product}} value="{{product.category}}" {{else}} required {{/if}}/>
    </div>
    <div class="input-group">
      <label for="thumbnail" class="input-group-text">Picture</label>
      <input name="thumbnail" type="url" class="form-control" placeholder="Thumbnail *"{{#if product}} value="{{product.thumbnail}}" {{else}} required {{/if}} />
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>